ul.trip-list{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    -ms-grid-column-align: center;
    margin-bottom: 30px;
}

ul.trip-list li div.trip-card{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: transparent;
    border-radius:20px; 
}

ul.trip-list li div.trip-description{
    display: flex;
    flex-direction: column;
}

ul.trip-list li{
    display: flex;
    flex-direction: column; 
}

ul.trip-list li button {
    cursor: pointer;
}

ul.trip-list li button#update{
    width: 70px;
    height: 30px;
    align-self: flex-end;
    align-items: center;
    background-color:transparent ;
}
ul.trip-list li button#update:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}

ul.trip-list li header{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 4px;
}

ul.trip-list li div strong{
    margin-top: 15px;
    font-size: 50;
    padding: 0px 10px 0px 10px;
}

ul.trip-list li div span{
    margin-top: 10px;
    font-size: 20px;
    color:#0616f5
}

ul.trip-list header{
background-size: 100%;
}